USE [ap3]
GO
/****** Object:  Table [dbo].[Abonnement]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abonnement](
	[idAbonnement] [int] IDENTITY(1,1) NOT NULL,
	[NomAbonnement] [varchar](50) NOT NULL,
	[Prix] [decimal](10, 2) NOT NULL,
	[DureeEnJours] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAbonnement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[idAnimal] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](100) NULL,
	[Age] [int] NULL,
	[Sexe] [varchar](10) NULL,
	[Espece] [varchar](50) NULL,
	[idProprietaire] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnimalArticle]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalArticle](
	[idAnimal] [int] NOT NULL,
	[idArticle] [int] NOT NULL,
	[Quantité] [int] NULL,
	[Commentaire] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idAnimal] ASC,
	[idArticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[idArticle] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Article] [nvarchar](100) NULL,
	[Prix] [decimal](10, 2) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[idArticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mammifere]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mammifere](
	[idAnimal] [int] NOT NULL,
	[Pelage] [varchar](50) NULL,
	[GestationJours] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oiseau]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oiseau](
	[idAnimal] [int] NOT NULL,
	[Envergure] [float] NULL,
	[PeutVoler] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personne]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personne](
	[idPersonne] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](100) NULL,
	[Prenom] [nvarchar](100) NULL,
	[Email] [nvarchar](150) NULL,
	[Telephone] [nvarchar](20) NOT NULL,
	[Adresse] [nvarchar](255) NOT NULL,
	[MotDePasse] [nvarchar](255) NULL,
	[idAbonnement] [int] NULL,
	[idRole] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPersonne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonneAudit]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonneAudit](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[idPersonne] [int] NULL,
	[ActionType] [nvarchar](20) NULL,
	[OldNom] [nvarchar](100) NULL,
	[OldPrenom] [nvarchar](100) NULL,
	[OldEmail] [nvarchar](150) NULL,
	[OldTelephone] [nvarchar](20) NULL,
	[OldAdresse] [nvarchar](255) NULL,
	[NewNom] [nvarchar](100) NULL,
	[NewPrenom] [nvarchar](100) NULL,
	[NewEmail] [nvarchar](150) NULL,
	[NewTelephone] [nvarchar](20) NULL,
	[NewAdresse] [nvarchar](255) NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reptile]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reptile](
	[idAnimal] [int] NOT NULL,
	[TypeEcailles] [varchar](50) NULL,
	[EstVenimeux] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[idRole] [int] IDENTITY(1,1) NOT NULL,
	[NomRole] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Personne] ADD  CONSTRAINT [DF_Personne_idRole]  DEFAULT ((1)) FOR [idRole]
GO
ALTER TABLE [dbo].[PersonneAudit] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD FOREIGN KEY([idProprietaire])
REFERENCES [dbo].[Personne] ([idPersonne])
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Personne] FOREIGN KEY([idProprietaire])
REFERENCES [dbo].[Personne] ([idPersonne])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Personne]
GO
ALTER TABLE [dbo].[AnimalArticle]  WITH CHECK ADD FOREIGN KEY([idAnimal])
REFERENCES [dbo].[Animal] ([idAnimal])
GO
ALTER TABLE [dbo].[AnimalArticle]  WITH CHECK ADD FOREIGN KEY([idArticle])
REFERENCES [dbo].[Article] ([idArticle])
GO
ALTER TABLE [dbo].[AnimalArticle]  WITH CHECK ADD  CONSTRAINT [FK_AnimalArticle_Animal] FOREIGN KEY([idAnimal])
REFERENCES [dbo].[Animal] ([idAnimal])
GO
ALTER TABLE [dbo].[AnimalArticle] CHECK CONSTRAINT [FK_AnimalArticle_Animal]
GO
ALTER TABLE [dbo].[AnimalArticle]  WITH CHECK ADD  CONSTRAINT [FK_AnimalArticle_Article] FOREIGN KEY([idArticle])
REFERENCES [dbo].[Article] ([idArticle])
GO
ALTER TABLE [dbo].[AnimalArticle] CHECK CONSTRAINT [FK_AnimalArticle_Article]
GO
ALTER TABLE [dbo].[Mammifere]  WITH CHECK ADD FOREIGN KEY([idAnimal])
REFERENCES [dbo].[Animal] ([idAnimal])
GO
ALTER TABLE [dbo].[Mammifere]  WITH CHECK ADD  CONSTRAINT [FK_Mammifere_Animal] FOREIGN KEY([idAnimal])
REFERENCES [dbo].[Animal] ([idAnimal])
GO
ALTER TABLE [dbo].[Mammifere] CHECK CONSTRAINT [FK_Mammifere_Animal]
GO
ALTER TABLE [dbo].[Oiseau]  WITH CHECK ADD FOREIGN KEY([idAnimal])
REFERENCES [dbo].[Animal] ([idAnimal])
GO
ALTER TABLE [dbo].[Oiseau]  WITH CHECK ADD  CONSTRAINT [FK_Oiseau_Animal] FOREIGN KEY([idAnimal])
REFERENCES [dbo].[Animal] ([idAnimal])
GO
ALTER TABLE [dbo].[Oiseau] CHECK CONSTRAINT [FK_Oiseau_Animal]
GO
ALTER TABLE [dbo].[Personne]  WITH CHECK ADD  CONSTRAINT [FK_Personne_Abonnement] FOREIGN KEY([idAbonnement])
REFERENCES [dbo].[Abonnement] ([idAbonnement])
GO
ALTER TABLE [dbo].[Personne] CHECK CONSTRAINT [FK_Personne_Abonnement]
GO
ALTER TABLE [dbo].[Personne]  WITH CHECK ADD  CONSTRAINT [FK_Personne_Role] FOREIGN KEY([idRole])
REFERENCES [dbo].[Role] ([idRole])
GO
ALTER TABLE [dbo].[Personne] CHECK CONSTRAINT [FK_Personne_Role]
GO
ALTER TABLE [dbo].[Reptile]  WITH CHECK ADD FOREIGN KEY([idAnimal])
REFERENCES [dbo].[Animal] ([idAnimal])
GO
ALTER TABLE [dbo].[Reptile]  WITH CHECK ADD  CONSTRAINT [FK_Reptile_Animal] FOREIGN KEY([idAnimal])
REFERENCES [dbo].[Animal] ([idAnimal])
GO
ALTER TABLE [dbo].[Reptile] CHECK CONSTRAINT [FK_Reptile_Animal]
GO
/****** Object:  StoredProcedure [dbo].[CreatePersonne]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreatePersonne]
    @Nom NVARCHAR(100),
    @Prenom NVARCHAR(100),
    @Email NVARCHAR(150),
    @Telephone NVARCHAR(20),
    @Adresse NVARCHAR(255),
    @MotDePasse NVARCHAR(255),
    @idRole INT
AS
BEGIN
    INSERT INTO Personne (Nom, Prenom, Email, Telephone, Adresse, MotDePasse, idRole)
    VALUES (@Nom, @Prenom, @Email, @Telephone, @Adresse, @MotDePasse, @idRole);

    SELECT SCOPE_IDENTITY() AS NewPersonneId;
END;

GO
/****** Object:  StoredProcedure [dbo].[DeletePersonne]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePersonne]
    @idPersonne INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Personne
    WHERE idPersonne = @idPersonne;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllPersonnes]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllPersonnes]
AS
BEGIN
    SELECT 
        idPersonne,
        Nom,
        Prenom,
        Email,
        Telephone,
        Adresse,
        MotDePasse,
        idRole
    FROM Personne;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdatePersonne]    Script Date: 27/05/2026 10:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePersonne]
    @idPersonne INT,
    @Nom NVARCHAR(100),
    @Prenom NVARCHAR(100),
    @Email NVARCHAR(150),
    @Telephone NVARCHAR(50),
    @Adresse NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Personne
    SET Nom = @Nom,
        Prenom = @Prenom,
        Email = @Email,
        Telephone = @Telephone,
        Adresse = @Adresse
    WHERE idPersonne = @idPersonne;
END;

GO
